html {
    background-color:coral;
}

p {
    color:crimson;
}
.titleone{
    color:cornflowerblue;
}
.titletwo{
    color:indianred;
}
.titlepenis{
    font-size:100px;
    color:deeppink;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}